@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
$primaryColor: #0b223d;
/*rgb(11,34,61)*/
$secondaryColor: #00aeef;
/*rgb(0, 174, 239)*/
$white: #fff;
$font:16px;
$fontFamily: 'Montserrat',
sans-serif;
$transition: .3s ease;
$padding: 50px 0;

@mixin btn {
    padding: 15px 30px;
    background: linear-gradient(to left, $primaryColor, $secondaryColor);
    border: none;
    font-size: 1rem;
    color: $white;
    display: block;
    margin: 30px auto 0 auto;
    border-radius: 20px 0 20px 0;

    &:hover {
        background: linear-gradient(to left, $secondaryColor, $primaryColor);
        border-radius: 0 20px 0 20px;
        transition: $transition;
        cursor: pointer;
    }
}

/***********************++
basic styles
************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    @include btn;
}

body {
    font-size: $font;
    font-family: $fontFamily;
    color: $primaryColor;
    line-height: 1.5;
}

.container {
    width: 80%;
    margin: auto;

    @media (max-width:768px) {
        width: 90%;
    }

    a {
        color: $primaryColor;
        text-decoration: none;

        &:hover {
            color: $secondaryColor;
            transition: $transition;

        }
    }

    ul {
        list-style: none;
    }

    h2 {
        font-size: 3rem;
        text-align: center;

        @media (max-width:768px) {
            font-size: 2rem;

        }

        &::after {
            display: block;
            content: "";
            width: 20%;
            height: 15px;
            background: linear-gradient(40deg, $secondaryColor, $white);
            margin: 10px auto 30px auto;


        }
    }
}

/***********************++
nav
************************/
nav {
    background: $white;
    padding: 5px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media (max-width:768px) {
            flex-direction: column;
        }

        img {
            width: 100px;
            hight: auto;
        }

        ul {
            display: flex;

            li {
                margin-left: 40px;
                text-transform: uppercase;

                @media (max-width:768px) {
                    margin: 10px;
                }
            }
        }
    }
}

/***********************++
header
************************/
header {
    background-image: linear-gradient(rgba(255, 255, 255, .99), rgba(11, 34, 61, .1)), url(sl/sl1.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media (max-width:768px) {
        height: 60vh;
    }

    h1 {
        font-size: 3rem;
        text-align: right;
        background: rgba(0, 174, 239, .5);
        padding: 30px 30px 30px 60px;
        border-radius: 200px 0 0 0;
        color: $white;
        text-shadow: 0 0 3px $primaryColor;

        @media (max-width:768px) {
            font-size: 2rem;
            border-radius: 100px 0 0 0;
        }

    }
}

/***********************++
o nama
************************/
.onama {
    padding: $padding;

    h3 {
        font-size: 1.7rem;
        margin: 10px 0;
    }

    li::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f058";
        color: $secondaryColor;
        margin-right: 10px;
    }


}

/***********************++
usluge
************************/
.usluge {
    text-align: center;
    padding: $padding;
    background-image: linear-gradient(rgba(0, 174, 239, .9), rgba(0, 174, 239, .9)), url(sl/sl1.jpg);
    border-radius: 400px 0 0 0;

    @media (max-width:768px) {
        border-radius: 150px 0 0 0;

    }

    i {

        color: $primaryColor;
        font-size: 2rem;
    }

    .container {
        display: flex;
        flex-wrap: wrap;

        article {
            flex: 0 0 50%;
            padding: 20px;

            @media (max-width:768px) {
                flex: 0 0 100%;

            }


            p {
                color: $white;
                font-size: 1.2rem;
            }
        }
    }
}

/***********************++
mentorskeUsluge
************************/
.mentorskeUsluge {
    padding: $padding;
}

/***********************++
preporuke
************************/
.preporuke {
    text-align: center;
    padding: $padding;
    background-image: linear-gradient(rgba(0, 174, 239, .9), rgba(0, 174, 239, .9)), url(sl/sl1.jpg);
    border-radius: 0 400px 0 0;

    @media (max-width:768px) {
        border-radius: 0 150px 0 0;

    }

    .container {
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 40px;

        @media (max-width:768px) {
            flex-direction: column;
        }

        article {
            flex: 0 0 40%;

            @media (max-width:768px) {
                flex: 0 0 100%;
            }
        }

        img {
            width: 60%;
            height: 60%;
            border-radius: 50%;
            margin-top: 30px;
            margin-bottom: 30px;


        }

        h4 {
            color: $white;
            font-size: 1.4rem;
        }

        p {
            text-align: justify;
            margin-top: 30px;

        }
    }

}


footer {
    padding: 30px;
    background: $primaryColor;
    text-align: center;
    color: $white;

    a {
        color: $secondaryColor;
        text-decoration: none;

        &:hover {
            color: $white;
        }
    }
}
